.container{
	width:100%;
	height:1600px;
	background-image:url("immagini/sfondo_saette.png");
	background-repeat:no-repeat;
	background-attachment:fixed;
	font-family:Verdana, Arial, sans-serif;
}

.header{
	width:80%;
	height:100px;
	margin:0 auto;
	padding:10px;
	background-color:yellow;
	color:#0000ff;
	border:solid 2px red;
}

.header h1{
	font-family:'Bungee Shade', cursive;
	text-align:center;
	color:red;
	font-size:40px;
	position:relative;
	top:-30px;
}

.image{
	position:relative;
	top:20px;
}

.log{
	position:relative;
	top:-42px;
}

.header a{
	text-align:right;
	font-size:15px;
	font-weight:bold;
}

.header a:link, a:visited{
	text-decoration:none;
	color:#0000ff;
}

.header a:hover, a:active{
	text-decoration:underline;
	color:#6666ff;
}

.navigation ul{
	padding:center;
	margin:0;
	position:relative;
	left:110px;
}

.navigation li{
	position:relative;
	float:left;
	width:130px;
	text-align:center;
	list-style:none;
}

.navigation li a{
	background-color:#ff6600;
	color:#fff;
	padding:15px 20px;
	text-decoration:none;
	display:block;
	border:solid 2px red;
}

.navigation li.active, li a:hover{
	background-color:#ff9900;
	text-shadow:1px 0px #fff;
}

.navigation ul ul{
	position:absolute;
	top:51px;
	left:-40px;
	visibility:hidden;
	z-index:1;
}

.navigation ul li:hover ul{visibility:visible;}

.navigation ul ul li a{background-color:#ff6600;}

.navigation ul ul li a:hover {background-color:#ff9900;}

.content{
	width:80%;
	margin:0 auto;
	position:relative;
	top:75px;
	background-color:red;
	color:#fff;
	padding:10px;
}	

.content h1{
	position:relative;
	left:-200px;
}

.content h3{
	padding:5px;
}

.content p{
	position:relative;
	top:-20px;
	text-align:justify;
	padding:5px;
}

.footer{
	width:80%;
	position:relative;
	top:100px;
	margin:0 auto;
	text-align:center;
	padding:10px;
	background-color:yellow;
	color:#0000ff;
	height:60px;
	border:solid 2px red;
}
.footer a:hover, a:active{
	text-decoration:underline;
	color:#6666ff;
}
